




body{
    background: #ffbed9;
}
/*not for library*/
.wrapper {
    width: 100%;
    height: 100%;
}
.simple-landing__container{
    transition:opacity 250ms ease;
    opacity: .2;
    background: #ffd5e7;
}
.simple-landing__container.start-loading{
    opacity: 0.5;
}
.simple-landing__container.loaded{
    opacity: 1;
    background: #ffbed9;
}

.simple-landing__container:not(.start-loading) .loaded-container{
    /* display: none; */
    font-size: 0;
}
.loaded-container {
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    color: rgba(0, 0, 0, 0.31);
    transition: font-size 250ms ease-in;
}
.loaded-container span {
    background: black;
    color: white;
    font-size: 45px;
    font-family: monospace;
    position: absolute;
    top: 5%;
    right: 25%;
    padding: 0 0;
    transition: all 350ms ease-in-out;
}
.simple-landing__container.loaded > .loaded-container > span {
    font-size: 83px;
    top: 39%;
}